# App
NODE_ENV=development
PORT=8080
BASE_URL=http://localhost:8080
CLIENT_URL=http://localhost:5173,http://localhost:3000
APP_URL=http://localhost:5173
# PostgreSQL
POSTGRES_USER=dev
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=rythmify_dev
DATABASE_URL=postgresql://dev:devpassword@rythmify_db:5432/rythmify_dev
# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
# Azurite (blob storage)
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;
BLOB_CONTAINER_AUDIO=audio
BLOB_CONTAINER_MEDIA=media
# JWT
JWT_SECRET=a85d733d53b8a2925c28b87a7dc2f9b10ad36e00a97ae8b006806a7af2555f09325d8f5965ca625f4556960e598bb8e29694f80edb6050f7cc6f354d71491230
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
# Google OAuth
GOOGLE_CLIENT_ID=456932364376-4ga0v16rd7dhemov4navlepcne4u51n8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=6LfpEYksAAAAAJRshL0ZUcrMllsrEnZif5_EQrBt
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/auth/google/callback
# # SoundCloud OAuth
# SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id_here
# SOUNDCLOUD_CLIENT_SECRET=your_soundcloud_client_secret_here
# Email
GMAIL_USER=rythmify.noreply@gmail.com
GMAIL_APP_PASSWORD=wqouswwukowchgwh
EMAIL_FROM=Rythmify <rythmify.noreply@gmail.com>
# reCAPTCHA
RECAPTCHA_SECRET=6LfpEYksAAAAAJRshL0ZUcrMllsrEnZif5_EQrBt
# # Stripe 
# STRIPE_SECRET_KEY=sk_test_your_stripe_key_here
# STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
# Frontend
VITE_API_BASE_URL=http://localhost:8080/api/v1
VITE_USE_MOCK=false
VITE_GOOGLE_CLIENT_ID=456932364376-4ga0v16rd7dhemov4navlepcne4u51n8.apps.googleusercontent.com
VITE_APP_URL=http://localhost:5173
VITE_RECAPTCHA_SITE_KEY=6LfpEYksAAAAAJmvV1zFwxwJqBzdiLldbLg4JwHn
