# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Flutter generated plugin registrants
**/generated_plugin_registrant.*
**/GeneratedPluginRegistrant.*

# Flutter plugin build files
**/generated_plugins.cmake

# Flutter plugin metadata
.flutter-plugins
.flutter-plugins-dependencies
android/.kotlin/sessions/kotlin-compiler-13249507405906181982.salive
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# Signing and Keystores
key.properties
*.keystore
*.jks
**/android/key.properties

# Explicitly un-ignore debug.keystore
!android/app/debug.keystore
BUGFIX_SUMMARY.md
WINDOWS_PLAYBACK_FIX.md
